/* colors */
$lightRed:#FF5858;
$darkRed: #ED2626;
$Black: #0B0B0B;
$LightBlack: #262020;
$White: #FFFAFA;

/* spacing */
$spacing-px: 1px;
$spacing-0: 0;
$spacing-4: 1rem;
$spacing-6: 1.5rem;
$spacing-8: 2rem;
$spacing-12: 3rem;
$spacing-32: 8rem;