---

// Component Imports
import MainLayout from '../layouts/MainLayout.astro';

const someProps = {
	count: 0,
};
---

<MainLayout title="Home Page">
    <div class="card self-center py-5 text-center">
        <h1 class="text-[5rem]">Oppsie wrong page!</h1>
        <a href="/" class="link text-[1.5rem]">Click here to go back to the home page</a>
    </div>
</MainLayout>