---

// Component Imports
import MainLayout from '../layouts/MainLayout.astro';

const someProps = {
	count: 0,
};
---

<MainLayout title="Home Page">
    <div class="card main_card p-200">
        <p>Oppsie wrong page!</p>
    </div>
</MainLayout>