---

// Component Imports
import MainLayout from '../layouts/MainLayout.astro';

const someProps = {
	count: 0,
};
---

<MainLayout title="Home Page">
  <p>My page content, wrapped in a layout!</p>
  <div class="card"></div>
</MainLayout>

			
		