---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <div class="card self-center text-center">
        <h1 class="text-[3rem]">Tournament</h1>
        <p>This is where the tournament should be.</p>
    </div>
</MainLayout>