---
import Footer from '../components/Footer.jsx';
const { title } = Astro.props;
import "../styles/styles.scss";
import Navbar from "../components/Navbar.jsx";
---

<html lang="en" class="bg-white">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <title> {title} </title>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body class="relative min-h-[100vh]">
        <Navbar/>
		
        <main class="flex flex-col relative">
            <slot class="" />
        </main>

		<Footer />

	</body>
</html>
